<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <link href="/public/css/site.css" type="text/css" rel="stylesheet">
  <link rel='shortcut icon' type='image/x-icon' href='/public/images/favicon.ico' />
</head>

<body>
  <div class="container">
    <header>
          <a href="/"><img class="logo" src="/public/images/logo.png"></a>
      <nav>
        <ul>
          <li><a href="/">Browse</a></li>
          <li><a href="/about">About</a></li>
          {{#if hasUser}}
          <li><a href="/create">Add a Car listing</a></li>
          <li><a href="/accessory">Add Accessory</a></li>
          <li><a href="/logout">Logout</a></li>
          {{else}}
          <li><a href="/login">Login</a></li>
          <li><a href="/register">Register</a></li>
          {{/if}}
        </ul>
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
  </div>
  <footer>@Carbicle: Exercise for Express.js and Handlebars</footer>
</body>

</html>