<h1>About Cubicle</h1>
<div class="about">
  <p>
    <i>"Carbicle"</i> is a place, where you can publish your car for sale, post and attach whatever accessories you have for it.
    This application was created as an exercise for the <a
      href="https://softuni.bg/trainings/3594/js-back-end-january-2022">JS Back-End course</a> at the
    <a href="https://softuni.bg/">Software University</a>.
  </p>
</div>