<h1>Create</h1>
<div class="form">
  <form action='/create' method="POST" enctype="multipart/form-data">
    <label for="name">Name</label>
    <input type="text" id="name" name="name">
    <label for="name">Description</label>
    <textarea id="name" name="description"></textarea>
    <label for="price">Price</label>
    <input id="price" name="price" type="number">
    <label for="image">ImageUrl</label>
    <input type="file" id="image" name="imageUrl">
    <input type="submit" value="Create">
  </form>
</div>