<h1>Edit Cube</h1>
<div class="form">
    {{#with car}}
    <form action="/edit/{{id}}" method="POST" enctype="multipart/form-data">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" value="{{name}}">
        <label for="description">Description</label>
        <textarea id="description" name="description">{{description}}</textarea>
        <label for="price">Price</label>
        <input type="number" id="price" name="price" value="{{price}}">
        <label for="image">ImageUrl</label>
        <input type="file" id="image" name="imageUrl">
        <input type="submit" value="Edit">
    </form>
    {{/with}}
</div>